.container {
  display: flex;
  width: 200px;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 50px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  margin-bottom: 10px;
}
